VITE_RSVP_API_URL=https://script.google.com/macros/s/AKfycbyMy1HaxS53Ph9B6xbOsdvQIYEHKTm4mvVzLeP0vKvlITkZh0LfiWSAjYeD-FqMaZnG/exec
VITE_APP_STORAGE_PREFIX=wedding-template
VITE_ENABLE_MENU_MODULE=false
