VITE_ADMIN_PASSWORD=sara-fran-admin
VITE_RSVP_API_URL=https://script.google.com/macros/s/AKfycbykkm60cdPhiHwp8azzgDowgpLqTsr3Ax-hC_Gg3WXfrTZyNSqrddPqJW3_mrc-_fBU/exec
VITE_APP_STORAGE_PREFIX=wedding-template
VITE_ENABLE_MENU_MODULE=false
